---
// index.astro
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>Bienvenido a mi Sitio</h1>
  <p>Este es el contenido de la página de inicio. Explora las otras secciones usando el menú de navegación.</p>
</Layout>